{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario Admin</title>
    <link rel="stylesheet" href="{% static 'web/css/dashboard.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
{% csrf_token %}
<button id="toggleModo" class="modo-toggle">Modo Claro</button>

<nav class="sidebar">
    <div class="logo">
        <i class="fas fa-user-shield"></i>
        <span>Panel Admin</span>
    </div>
    <ul class="nav-links">
        <a href="{% url 'dashboard_admin' %}"><li><i class="fas fa-home"></i><span>Inicio</span></li></a>
        <a href="{% url 'usuarios_admin' %}"><li><i class="fas fa-users"></i><span>Usuarios</span></li></a>
        <a href="{% url 'novedades_usuarios' %}"><li><i class="fas fa-user"></i><span>Novedades de usuarios</span></li></a>
        <a href="{% url 'reporte_libros' %}"><li><i class="fas fa-book"></i><span>Reporte de libros</span></li></a>
        <a href="{% url 'inventario_admi' %}"><li class="active"><i class="fas fa-box"></i><span>Inventario</span></li></a>
        <a href="{% url 'perfil_admin' %}"><li><i class="fas fa-user-circle"></i><span>Perfil</span></li></a>
    </ul>
</nav>

<main class="main-content">
    <header>
        <div class="header-left">
            <h1>Inventario General</h1>
            <p>Administra todos los libros registrados en la plataforma.</p>
        </div>

        <div class="header-right">
            <div class="user-profile">
                <img src="{% static 'web/imgs/profile.png' %}" alt="admin" />
                <span>Administrador</span>
            </div>
        </div>
    </header>

    <section class="filtros-admin">
        <input type="text" id="buscarLibro" placeholder="Buscar libro o autor..." />
        <input type="text" id="filtroGenero" placeholder="Genero" />
        <select id="filtroEstado">
            <option value="">Estado</option>
            <option value="Publicado">Publicado</option>
            <option value="Leyendo">Leyendo</option>
        </select>
    </section>

    <section class="inventario-admin">
        <div class="grid-inventario-admin"></div>
        <a href="{% url 'registrar_libro' %}?source=admin"><button class="btn-agregar">+</button></a>
    </section>
</main>

<script src="{% static 'web/js/script.js' %}"></script>
<script src="{% static 'web/js/inventarioAdmin.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
