<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Libros</title>
</head>
<body>

<h1>Listado de Libros</h1>

<a href="/libros/nuevo">Registrar Libro</a>
<br><br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>ISBN</th>
        <th>Año</th>
        <th>Autor</th>
        <th>Género</th>
        <th>Acciones</th>
    </tr>

    <tr th:each="l : ${libros}">
        <td th:text="${l.id}"></td>
        <td th:text="${l.titulo}"></td>
        <td th:text="${l.isbn}"></td>
        <td th:text="${l.año}"></td>
        <td th:text="${l.autor.nombre}"></td>
        <td th:text="${l.genero.nombre}"></td>

        <td>
            <a th:href="@{'/libros/editar/' + ${l.id}}">Editar</a> |
            <a th:href="@{'/libros/eliminar/' + ${l.id}}">Eliminar</a>
        </td>
    </tr>
</table>

</body>
</html>
